form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.signup-button {
    color: white;
    font-weight: bold;
    background-color: orange;
    /* border: 1px solid red; */
    padding: .5rem 1rem;
    border-radius: 1rem;
    width: 100%;
}

button:hover {
    color: orange;
    background-color: white;
}

/* .signup-form {
    di
} */
