.stars-for-rating {
    display: flex;
    justify-content: center;
}

.submit-review-button {
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

.review-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.empty {
    color: lightgray;
}

.filled {
    color: orange;
}

.mapleleaf {
    color: lightgray;
}
