.single-spot-container {
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Roboto, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkorange;
}

.single-spot-images {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
}
.description {
    width: 75%;
}

.spot-detail {
    display: flex;
    align-items: center;
    gap: 25%;
    border-bottom: 1px solid lightgray;
    padding-top: 1rem;
    padding-bottom: 1rem;;
}

img {
    height: 320px;
    width: 100%;
    border-radius: 1rem;
    object-fit: fill;
}

.review-details {
    display: flex;
    flex-direction: column;
}

.booking {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    border: 1px solid gray;
    border-radius: 1rem;
    width: 25%;
}

.price-review {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.reserve {
    padding: .5rem 1rem;
    color: orange;
    border-radius: 1rem;
    border: 1px solid gray
}

/* .price {
    width: 100%;
}

.reviews {
    width: 100%;
} */
