.hidden {
    display: none;
}

li {
    list-style: none;
}


.logo {
    text-decoration: none;
    color: orange;
}

ul {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    border-bottom: .5px solid lightgray;
}

.search {
    border-radius: 1rem;
    padding: .6rem 5rem;
}

/* .nav-container {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
} */
