.hidden {
    display: none;
}

li {
    list-style: none;
}

.logo {
    text-decoration: none;
    color: orange;
}

.nav-list {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5rem;
    border-bottom: 1px solid lightgray;
    margin: 0;
}

.search {
    border-radius: 1rem;
    padding: .5rem 5rem;
    margin-right: 8rem;
}

.nav-leaf {
    height: 40px;
    width: 40px;
}

.nav-title {
    display: flex;
    justify-content: center;
    gap: .3rem;
    font-family: 'Alike', serif;
}


/* .nav-container {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
} */



.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    width: 45%;
    padding: 1rem;
    border-radius: 5px;
    /* border: 1px solid red; */
}

.search-input {
    outline: none;
    /* border: none; */
    border: 1px solid lightgray;
    width: 100%;
    padding: .7rem 1rem;
    border-radius: 8px;
    /* background-color: lightgray; */
    /* border: 1px solid green; */
}

.search-enter {
    border: none;
    background-color: white;
}

.fa-magnifying-glass {
    font-size: 16px;
}

.show-search {
    background-color: white;
    height: 350px;
    overflow: auto;
    position: absolute;
    top: 3.5rem;
    border-radius: 4px;
    left: 0;
    width: 100%;
    border: 1px solid gray;
    z-index: 10;
}

.search-word {
  display: flex;
  gap: 1rem;
  padding-left: .5rem;
  padding-top: .5rem;
}

.search-word:hover {
    cursor: pointer;
    background-color: lightgray;
}

.search-img {
  height: 50px;
  width: 50px;
  object-fit: fill;
}
