.profile {
    padding: .5rem 1rem;
    border-radius: 2rem;
    display: flex;
    gap: .5rem;
}

i {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.profile-dropdown {
    border: 1px solid gray;
    position: absolute;
    right: 3rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
}

.login-signup {
    font-weight: bold;
}

.login-signup:hover {
    cursor: pointer;
}

.login-user-ability {
    position: absolute;
    right: 9rem;
    width: 6rem;
    height: 8rem;
    top: 3rem;
}

.create-link {
    padding-top: 1rem;
}
