.profile {
    padding: .5rem 1rem;
    border-radius: 2rem;
    display: flex;
    gap: .5rem;
}

i {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.profile-dropdown {
    border: 1px solid gray;
    position: absolute;
    right: 2.5rem;
    background-color: white;
    padding-right: 2rem;
    border-radius: 1rem;
    z-index: 1;
}

.login-signup {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.login-signup:hover {
    cursor: pointer;
}

.login-user-ability {
    position: absolute;
    right: 8.5rem;
    width: 6rem;
    height: 10rem;
    top: 2.5rem;
}

.create-link {
    padding-top: 1rem;
    color: red;
    text-decoration: none;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .5rem;
}

.first-last-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: .3rem;
}

.modal-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    width: 100%
}
